.home {
    background: #8b985dbf;
    text-align: center;
    padding: 7% 0%;
    
}

.home > * {
    color: rgb(27, 23, 23);
}

.home h1 {
    font-size: 50px;
}

.home p {
    margin-bottom: 10px;
}

.home .heading {
    font-size: 40px;
}

.home .description {
    font-size: 25px;
}

.btn {
    padding: 1% 3%;
    
}