.signin-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signin-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.signin-container form {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}

.signin-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signin-container button {
  padding: 10px;
  background-color:  rgb(255,164,0);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-container button:hover {
  background-color:rgb(251, 174, 30);
}
